@import "./components/_index";
@import "./mixins";
@import "./colors";
@font-face {
    font-family: "Gotham_Narrow_Book";
    src: url("../../public/fonts/Gotham_Narrow_Book.otf");
}
h2 {
    color: white;
}
body {
    background-color: #030303;
    font-family: "Gotham_Narrow_Book", sans-serif;
}
.Collapsible {
    width: 100%;
    padding: 5px;
}

.Collapsible__trigger {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    gap: 5px;
}
.Collapsible__trigger.is-open svg {
    transform: rotate(90deg);
}
